///TEXT-CALLS

// .text-call-image img {
//   max-width: 640px;
//   min-height: 400px;
// }

// @media (min-width: 1950px) and (max-width: 2400px) {
//   .special-flexbox {
//     justify-content: center !important;
//   }

//   .padding-left-remover {
//     padding-left: 0 !important;
//   }

//   .margin-left-remover {
//     margin-left: 0 !important;
//   }
// }

// @media (min-width: 1201px) and (max-width: 1800px) {
//   // .text-call-image-col {
//   //   padding-left: 0 !important;
//   //   margin-left: 0 !important;
//   // }

//   // .text-call-1 {
//   //   padding-left: 0rem !important;
//   //   margin-left: 0rem !important;
//   // }

//   .text-call-paragraph-1 {
//     padding-right: 0 !important;
//     margin-right: 2.6rem !important;
//   }

//   .text-call-2 {
//     padding-left: 0rem !important;
//     margin-left: 0rem !important;
//   }
// }


@media (min-width: 1201px) and (max-width: 2500px) {


  .text-call-image {
    height: 430px !important;
  }
}

// @media (min-width: 1201px) and (max-width: 1550px) {
  // .text-call-image-2 {
  //   margin-left: 0 !important;
  // }

  // .special-padding {
  //   padding-left: 0 !important;
  // }
// }

@media (max-width: 1750px) {
  // .text-call-image img {
  //   max-width: 600px;
  //   min-height: 380px;
  // }

  .text-call-header {
    font: normal normal normal 38px/47px Atkinson Hyperlegible;
  }

  .text-call__line {
    font: normal normal normal 18px/24px Atkinson Hyperlegible;
  }
}

// @media (max-width: 1570px) {
//   .text-call-image img {
//     max-width: 560px;
//     min-height: 360px;
//   }
// }

// @media (max-width: 1550px) {
//   .text-call-image img {
//     min-height: 420px;
//   }
// }

// @media (max-width: 1500px) {
//   .text-call-image img {
//     max-width: 540px;
//   }
// }

// @media (max-width: 1450px) {
//   .text-call-image img {
//     max-width: 530px;
//   }
// }

// @media (max-width: 1400px) {
//   .text-call-image img {
//     min-height: 460px;
//     max-width: 520px;
//   }
// }

// @media (max-width: 1300px) {
//   .text-call-image img {
//     min-height: 540px;
//     max-width: 500px;
//   }
// }

// @media (max-width: 1250px) {
//   .text-call-image img {
//     min-height: 580px;
//   }
// }

// @media (max-width: 1200px) {
//   .text-call-image img {
//     max-width: 448px;
//     min-height: 340px;
//   }
// }

// @media (max-width: 1175px) {
//   .text-call-image img {
//     max-width: 418px;
//     min-height: 340px;
//   }
// }

// @media (max-width: 1165px) {
//   .text-call-image img {
//     max-width: 418px;
//     min-height: 340px;
//   }
// }

// @media (max-width: 1155px) {
//   .text-call-image img {
//     max-width: 408px;
//     min-height: 360px;
//   }
// }

// @media (max-width: 1145px) {
//   .text-call-image img {
//     max-width: 396px;
//     min-height: 370px;
//   }
// }

// @media (max-width: 1100px) {
//   .text-call-image img {
//     max-width: 386px;
//     min-height: 370px;
//   }
// }

// @media (max-width: 1065px) {
//   .text-call-image img {
//     max-width: 374px;
//     min-height: 390px;
//   }
// }

// @media (max-width: 1040px) {
//   .text-call-image img {
//     max-width: 362px;
//   }
// }

// @media (max-width: 1020px) {
//   .text-call-image img {
//     max-width: 352px;
//     min-height: 400px;
//   }
// }

// @media (max-width: 1020px) {
//   .text-call-image img {
//     max-width: 342px;
//     min-height: 410px;
//   }
// }

// @media (max-width: 991.999px) {
//   .text-call-image img {
//     max-width: 100%;
//     height: auto;
//   }
// }
