* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

// the higher the number, the further the color is from its original hue (be it dark or light)
:root {
  --dark: #000000;
  --dark-1: #1d1d1b;
  --light-grey: #acacac;
  --grey: #5f5f5f;
  --grey-1: #707070;
  --white: #ffffff;
  --white-1: #f8f8f8;
  --white-2: #ededed;
  --white-3: #d9d9d9;
  --blue: #004ffe;
  --dark-blue: #06285b;
  --light-yellow: #f5eddb;
  --light-yellow-1: #f7f0e2;
}

//RESET DEFAULTS

html,
body {
  font-family: 'Atkinson Hyperlegible';
  width: 100%;
  margin: 0px;
}

html {
  height: 100%;
  font-size: 100%;
}

main {
  padding-top: 0 !important;
}

//NAVBAR

.custom-navbar {
  position: absolute;
  padding-top: 4.5rem;
  margin-left: 5.4rem;
}

.custom-menu-items {
  margin-right: 7rem;
}

.nav-link-custom {
  display: block;
  position: relative;
  transition-property: color;
}

.nav-link-custom:after {
  background: none repeat scroll 0 0 transparent;
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  bottom: 0;
  left: 8%;
  width: 85%;
  height: 0.1em;
  background: var(--white);
  opacity: 0;
  transition: opacity 0.3s ease 0s;
}

.nav-link-custom:hover::after {
  opacity: 1;
  text-decoration: none;
}

.nav-link-custom:hover {
  text-decoration: none;
  color: var(--white);
}

.nav-link-custom:active::after {
  opacity: 0;
  text-decoration: none;
}

.nav-link-custom:active {
  text-decoration: none;
  color: var(--blue);
  transition-duration: 0.3s;
}

.svg-link:hover {
  color: transparent;
}

.active-class {
  color: var(--blue);
  pointer-events: none;
}

.default-cursor {
  cursor: default;
}


///arrow

.arrow-line {
  width: 12px;
  height: 2.6px;
  background-color: #fff;
  position: absolute;
  top: 14px;
  left: 9.4rem;
}

.arrow {
  width: 12px;
  height: 2.6px;
  background-color: #fff;
  position: relative;
  top: 14px;
  border-radius: 4px;
}

.arrow:after {
  content: '';
  display: inline-block;
  border-radius: 4px;
  width: 10px;
  height: 2px;
  background-color: #fff;
  transform: rotate(40deg);
  position: absolute;
  right: -2px;
  bottom: 3px;
}

.arrow:before {
  content: '';
  display: inline-block;
  border-radius: 4px;
  width: 10px;
  height: 2px;
  background-color: #fff;
  transform: rotate(-40deg);
  position: absolute;
  right: -2px;
  bottom: -3px;
}

//REDIRECT LINK

.redirect-link {
  border: 2px solid var(--white);
  text-decoration: none;
  display: inline-block;
  // padding: 0.8rem 2.6rem;
  color: var(--white);
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  font-size: 21px;
  line-height: 26px;
  font-family: Atkinson Hyperlegible;
  letter-spacing: 0px;
  opacity: 1;
}

.redirect-link:hover {
  background-color: var(--white);
  color: var(--blue);
  text-decoration: none;
}

// INFO SECTION

#info {
  background-color: var(--light-yellow-1);
  min-height: 70vh;
}

.example-row {
  border: 3px solid purple;
}

.info-container {
  border: 3px solid green;
}

.info-title {
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  font-family: 'Sprint Sans', sans-serif;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 30px;
  letter-spacing: 0.3px;
  color: var(--blue);
  opacity: 1;
}

.info-description {
  font: normal normal normal 38px/45px Atkinson Hyperlegible;
  margin-top: 4rem;
}

.info-description__line {
  margin-bottom: 0;
}

.info-link {
  padding: 0.8rem 2.6rem;
  border: 2px solid var(--blue);
  color: var(--blue);
  background-color: var(--light-yellow-1);
}

.info-link:hover {
  background-color: var(--blue);
  color: var(--white);
}

/// general paragraph/lines



@media (max-width: 40rem) {
}
