// FOOTER

#footer {
  background-color: var(--dark-blue);
  height: 60vh;
}


.footer-row {
  margin-left: 5rem !important;
}
.footer-header-wrapper {
  border-bottom: 3px solid var(--blue);
}

.footer-header-link {
  font-family: Atkinson Hyperlegible, sans-serif;
  letter-spacing: 0px;
  font-size: 28px;
  line-height: 35px;
  font-weight: normal;
  letter-spacing: 0px;
  opacity: 1;
  a {
    color: var(--white);
  }
}

.footer-link {
  font-family: Atkinson Hyperlegible, sans-serif;
  letter-spacing: 0px;
  font-size: 21.33px;
  line-height: 26px;
  font-weight: normal;
  letter-spacing: 0px;
  opacity: 1;

  a {
    color: var(--white);
  }
}

.footer-description__line {
  margin-bottom: 0;
  font-size: 21.33px;
  line-height: 26px;
  font-weight: normal;
  letter-spacing: 0px;
  opacity: 1;
}

@media (max-width: 1850px) {
  #footer {
    min-height: 78vh;
  }
}

@media (max-width: 1230px) { 
  #footer {
    min-height: 80vh;
  }
}


@media (max-width: 1200px) {
  #footer {
    min-height: 75vh;
  }

  .logo-column {
    gap: 4.2rem !important;
  }

  .footer-contact-information p {
    font-size: 1.2rem;
  }

  .footer-header-link {
    font-size: 1.4rem;
  }
}

@media (max-width: 1150px) {
  #footer {
    min-height: 74vh;
  }
}


@media (max-width: 1140px) {
  .location {
    width: 30vh !important;
  }
}


@media (max-width: 1200px) {
  #footer {
    min-height: 78vh;
  }
}

@media (max-width: 1040px) {
  #footer {
    min-height: 83vh;
  }

  .location {
    width: 20vh !important;
    text-align: center;
  }
}

@media (max-width: 982px) {
  .rci-logo-svg {
    transform: scale(0.85);
  }
  .footer-contact-information p {
    font-size: 1rem;
  }
}

@media (max-width: 870px) {
  .location {
    width: 10vh !important;
  }
}

@media (max-width: 863px) {
  .footer-row {
    margin-left: 1rem !important;
  }
}

@media (max-width: 812px) {
  .footer-row {
    margin-left: 0rem !important;
  }
}

@media (max-width: 800px) {
  .rci-logo-svg {
    transform: scale(0.8);
  }
}

@media (max-width: 768px) {
  #footer {
    min-height: 92vh;
  }
}

@media (max-width: 710px) {
  .rci-logo-svg {
    transform: scale(0.7);
  }
}

@media (max-width: 690px) {
  .footer-link {
    font-size: 1rem;
    line-height: 1.3rem;
  }

  .footer-header-link {
    font-size: 1.2rem;
  }

  .rci-logo-svg {
    transform: scale(0.7);
  }

  .footer-contact-information p {
    font-size: 0.9rem;
  }

  .svg-icon {
    transform: scale(0.85);
  }
}

@media (max-width: 672px) {
  .svg-icon {
    padding-right: 0 !important;
  }

  .location {
    width: 8vh !important;
  }
}

@media (max-width: 576px) {
  .footer-contact-information p {
    font-size: 0.8rem;
  }

  .footer-header-link {
    font-size: 1.1rem;
  }
}

.logo-column {
  gap: 5.2rem;
}

.footer-contact-information {
  margin-bottom: 0;
  font-size: 21.33px;
  line-height: 26px;
  font-weight: normal;
  letter-spacing: 0px;
  opacity: 1;
}

.location {
  width: 40vh;
}

.opacity:hover {
  opacity: 0.5;
  transition: 0.3s all ease-out;
  text-decoration: none;
}
