body {
  box-sizing: border-box;
  margin: 0;
}

.big-banner {
  // background: url('../images/background-images/Retangulo98.png');
  // background-repeat: no-repeat;
  // background: linear-gradient(to top, rgba(80, 68, 18, 0.6) 10%, transparent),
  //   url('../images/background-images/Retangulo98.png')
  //     30% 30% / cover no-repeat border-box;
  // height: 40.5rem;
  // width: 100vw;
  // height: 60vh;
  // background-size: 100%;
  // z-index: -100;
}

.image-wrapper {
  position: relative;
  width: 100%;
}

.banner-image {
  filter: brightness(0.25);
  width: 100%;
}

.svg-overlay {
  position: absolute;
  z-index: 200;
  top: 32%;
  left: 15.5%;
}

.company-message {
  z-index: 201;
  position: absolute;
  top: 43%;
  left: 43%;
  font: normal normal normal 51px/63px Atkinson Hyperlegible;
}

.long {
  top: 40.5%;
}

.company-message p {
  margin-top: 0;
  margin-bottom: 0;
}

#info {
  background-color: var(--light-yellow-1);
  // display: flex;
  // justify-content: start;
  // flex-direction: column;
  // max-height: 80vh;
  min-height: 70vh;
}

.example-row {
  border: 3px solid purple;
}

.info-container {
  border: 3px solid green;
}

.info-title {
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  font-family: 'Sprint Sans', sans-serif;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 30px;
  letter-spacing: 0.3px;
  color: var(--blue);
  opacity: 1;
}

.info-description {
  font: normal normal normal 38px/45px Atkinson Hyperlegible;
  margin-top: 4rem;
}

.info-description__line {
  margin-bottom: 0;
}

.redirect-link {
  border: 2px solid var(--blue);
  text-decoration: none;
  display: inline-block;
  padding: 0.6rem 2.4rem;
  color: var(--blue);
  font-size: 18px;
}

.redirect-link:hover {
  background-color: var(--blue);
  color: var(--white);
  text-decoration: none;
}

#perks {
  min-height: 80vh;
  background-color: var(--blue);
}

.services-title {
  font-style: normal;
  font-variant: normal;
  font-weight: 600;
  font-family: 'Sprint Sans', sans-serif;
  font-size: 21px;
  line-height: 30px;
  letter-spacing: 0.3px;
}

.service-title {
  font: normal normal normal 28px/35px Atkinson Hyperlegible;
  letter-spacing: 0px;
  color: var(--white);
  opacity: 1;
}

.service-description__line {
  opacity: 0.5;
  margin-bottom: 0;
  color: var(--white);
  letter-spacing: 0px;
  font: normal normal normal 21px/26px Atkinson Hyperlegible;
}

.service-link {
  text-align: left;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  font-family: 'Sprint Sans', sans-serif;
  font-size: 21px;
  line-height: 30px;
  letter-spacing: 2.13px;
  text-transform: uppercase;
  opacity: 1;

  a {
    color: var(--white);
  }
}

.service-link a:hover {
  text-decoration: none;
}

.service-link {
  display: block;
  position: relative;
  transition-property: color;
  a {
    display: inline-block;
    position: relative;
    z-index: 1;
    padding: 0.5em 0.7em 0.5em 0.7em;
    margin: -0.5em -0.7em -0.5em -0.7em;
  }
}

.service-link:after {
  background: none repeat scroll 0 0 transparent;
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  bottom: 0;
  left: 0%;
  width: 36%;
  height: 0.2em;
  background: var(--white);
  opacity: 0;
  transition: opacity 0.3s ease 0s;
}

.service-link:hover {
  text-decoration: none;
  color: var(--white);
}

.service-link:hover::after {
  opacity: 1;
  text-decoration: none;
}

.service-link-line:hover ~ .arrow {
  transform: translateX(9.9px);
  transition: all ease-out 0.3s;
}

#partners-and-clients {
  background-color: var(--white);
  min-height: 170vh;
}

.partners-clients-header {
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  color: var(--blue);
  font-family: 'Sprint Sans', sans-serif;
  font-size: 21px;
  line-height: 30px;
  letter-spacing: 2.13px;
  opacity: 1;
}

.client-info-col {
  gap: 2.5rem;
}

.client-quote__line {
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 35px;
  font-family: Atkinson Hyperlegible, sans-serif;
  letter-spacing: 0px;
  color: var(--dark);
  opacity: 1;
  margin-bottom: 0;
}

.client-name {
  color: var(--blue);
  font-family: Atkinson Hyperlegible, sans-serif;
  letter-spacing: 0px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  margin-bottom: 0.15rem;
}

.client-company {
  color: var(--grey);
  margin-top: 0;
  font-family: Atkinson Hyperlegible, sans-serif;
  letter-spacing: 0px;
  font-size: 21px;
  line-height: 26px;
}

.client-link {
  color: var(--blue) !important;
}

.client-link::after {
  background-color: var(--blue) !important;
  width: 13.4%;
}

.client-link-line {
  color: var(--blue) !important;
}

.client-arrow-line {
  background-color: var(--blue) !important;
}

.client-arrow {
  background-color: var(--blue) !important;
}

.client-arrow::before {
  background-color: var(--blue) !important;
}

.client-arrow::after {
  background-color: var(--blue) !important;
}

.circles {
  gap: 1.5rem;
  margin-top: 2.5rem;
}

.circle {
  width: 16px;
  height: 16px;
  border-radius: 0.5rem;
  background-color: var(--white-2);
}

.grey-circle {
  width: 16px;
  height: 16px;
  border-radius: 0.5rem;
  background-color: var(--white-3);
}

.client-example {
  background: linear-gradient(
      to top left,
      rgba(112, 112, 112, 0) 0%,
      rgba(112, 112, 112, 0) calc(50% - 0.8px),
      rgba(112, 112, 112, 1) 50%,
      rgba(112, 112, 112, 0) calc(50% + 0.8px),
      rgba(112, 112, 112, 0) 100%
    ),
    linear-gradient(
      to top right,
      rgba(112, 112, 112, 0) 0%,
      rgba(112, 112, 112, 0) calc(50% - 0.8px),
      rgba(112, 112, 112, 1) 50%,
      rgba(112, 112, 112, 0) calc(50% + 0.8px),
      rgba(112, 112, 112, 0) 100%
    );
  resize: none;
  pointer-events: none;
}

#careers {
  background-color: var(--blue);
  min-height: 55vh;
}

.call-to-action {
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: 38px;
  line-height: 47px;
  font-family: Atkinson Hyperlegible, sans-serif;
  letter-spacing: 0px;
  opacity: 1;
}

.call-to-action-message__line {
  margin-bottom: 0;
}

.career-link {
  border: 2px solid var(--white);
  color: var(--white);
}

.career-link:hover {
  background-color: var(--white);
  color: var(--blue);
}

.jobs {
  padding: 0.6rem 1.945rem;
}

.internships {
  padding: 0.6rem 3.4rem;
}

#instagram-cards {
  min-height: 80vh;
  background-color: var(--white);
}

.instagram-title {
  font-style: normal;
  color: var(--blue);
  font-variant: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  font-family: 'Sprint Sans', sans-serif;
  letter-spacing: 1px;
  opacity: 1;
}

.instagram-image {
  max-width: 32vh;
}

#contact-form {
  min-height: 70vh;
  background-color: var(--white-1);
}

.custom-form-control {
  resize: none;
  background-color: var(--white-1);
  border: none;
  border-bottom: 2px solid var(--grey-1);
  border-radius: 0;
  padding: 0;
  // max-width: 38rem;
}

.custom-form-control:focus {
  border: none;
  box-shadow: none;
  border-bottom: 2px solid var(--grey-1);
  background-color: var(--white-1);
}

.custom-form-control::placeholder {
  color: var(--white-3);
  font-family: Atkinson Hyperlegible, sans-serif;
  letter-spacing: 0px;
  font-size: 21.33px;
  line-height: 26px;
  font-weight: normal;
}

.custom-form-control-label {
  color: var(--dark);
  font-family: Atkinson Hyperlegible, sans-serif;
  letter-spacing: 0px;
  font-size: 21.33px;
  line-height: 26px;
  font-weight: normal;
  margin-bottom: 1.45rem;
  margin-top: 1.22rem;
}

.custom-form-textarea {
  margin-top: 1.5rem;
}

.custom-select {
  color: var(--white-3);
  // color: var(--dark);
  appearance: none;
}

.custom-select:visited {
  color: var(--dark);
}

.custom-select:focus {
  // color: var(--white-3);
}

.custom-select option:not(:first-of-type) {
  color: var(--dark);
}

// .custom-select option:checked {
//   color: var(--dark);
// }

.form-button {
  border: 2px solid var(--blue);
  color: var(--blue);
  font-family: Atkinson Hyperlegible, sans-serif;
  letter-spacing: 0px;
  font-size: 21.33px;
  line-height: 26px;
  font-weight: normal;
  padding: 0.78rem 4rem;
  background-color: var(--white-1);
}

.form-button:hover {
  color: var(--white);
  background-color: var(--blue);
  transition: ease-out 0.3s;
}
