body {
  margin: 0;
}

///PERKS

#perks {
  min-height: 80vh;
  background-color: var(--blue);
}

///SERVICES

.services-title {
  font-style: normal;
  font-variant: normal;
  font-weight: 600;
  font-family: 'Sprint Sans', sans-serif;
  font-size: 21px;
  line-height: 30px;
  letter-spacing: 0.3px;
}

.service-title {
  font: normal normal normal 28px/35px Atkinson Hyperlegible;
  letter-spacing: 0px;
  color: var(--white);
  opacity: 1;
}

.service-description__line {
  opacity: 0.5;
  margin-bottom: 0;
  color: var(--white);
  letter-spacing: 0px;
  font: normal normal normal 21px/26px Atkinson Hyperlegible;
}

.service-link {
  text-align: left;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  font-family: 'Sprint Sans', sans-serif;
  font-size: 21px;
  line-height: 30px;
  letter-spacing: 2.13px;
  text-transform: uppercase;
  opacity: 1;

  a {
    color: var(--white);
  }
}

.service-link a:hover {
  text-decoration: none;
}

.service-link {
  display: block;
  position: relative;
  transition-property: color;
  a {
    display: inline-block;
    position: relative;
    z-index: 1;
    padding: 0.5em 1em 0.5em 1em;
    margin: -0.5em -1em -0.5em -1em;
  }
}

.service-link:after {
  background: none repeat scroll 0 0 transparent;
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  bottom: 0;
  left: 0%;
  width: 36%;
  height: 0.2em;
  background: var(--white);
  opacity: 0;
  transition: opacity 0.3s ease 0s;
}

.service-link:hover {
  text-decoration: none;
  color: var(--white);
}

.service-link:hover::after {
  opacity: 1;
  text-decoration: none;
}

.service-link-line:hover ~ .arrow {
  transform: translateX(9.9px);
  transition: all ease-out 0.3s;
}

///PARTNERS AND CLIENTS

#partners-and-clients {
  background-color: var(--white);
  min-height: 170vh;
}

.partners-clients-header {
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  color: var(--blue);
  font-family: 'Sprint Sans', sans-serif;
  font-size: 21px;
  line-height: 30px;
  letter-spacing: 2.13px;
  opacity: 1;
}

.client-info-col {
  gap: 2.5rem;
}

.client-quote__line {
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 35px;
  font-family: Atkinson Hyperlegible, sans-serif;
  letter-spacing: 0px;
  color: var(--dark);
  opacity: 1;
  margin-bottom: 0;
}

.client-name {
  color: var(--blue);
  font-family: Atkinson Hyperlegible, sans-serif;
  letter-spacing: 0px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  margin-bottom: 0.15rem;
}

.client-company {
  color: var(--grey);
  margin-top: 0;
  font-family: Atkinson Hyperlegible, sans-serif;
  letter-spacing: 0px;
  font-size: 21px;
  line-height: 26px;
}

.client-link {
  color: var(--blue) !important;
}

.client-link::after {
  background-color: var(--blue) !important;
  width: 21.4%;
}

.client-link-line {
  color: var(--blue) !important;
}

.client-arrow-line {
  background-color: var(--blue) !important;
}

.client-arrow {
  background-color: var(--blue) !important;
}

.client-arrow::before {
  background-color: var(--blue) !important;
}

.client-arrow::after {
  background-color: var(--blue) !important;
}

.circles {
  gap: 1.5rem;
  margin-top: 2.5rem;
}

.circle {
  width: 16px;
  height: 16px;
  border-radius: 0.5rem;
  background-color: var(--white-2);
}

.grey-circle {
  width: 16px;
  height: 16px;
  border-radius: 0.5rem;
  background-color: var(--white-3);
}

.client-example {
  background: linear-gradient(
      to top left,
      rgba(112, 112, 112, 0) 0%,
      rgba(112, 112, 112, 0) calc(50% - 0.8px),
      rgba(112, 112, 112, 1) 50%,
      rgba(112, 112, 112, 0) calc(50% + 0.8px),
      rgba(112, 112, 112, 0) 100%
    ),
    linear-gradient(
      to top right,
      rgba(112, 112, 112, 0) 0%,
      rgba(112, 112, 112, 0) calc(50% - 0.8px),
      rgba(112, 112, 112, 1) 50%,
      rgba(112, 112, 112, 0) calc(50% + 0.8px),
      rgba(112, 112, 112, 0) 100%
    );
  resize: none;
  pointer-events: none;
}

//CAREERS

#careers {
  background-color: var(--blue);
  min-height: 55vh;
}

.call-to-action {
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: 38px;
  line-height: 47px;
  font-family: Atkinson Hyperlegible, sans-serif;
  letter-spacing: 0px;
  opacity: 1;
}

.call-to-action-message__line {
  margin-bottom: 0;
}

.career-link {
  border: 2px solid var(--white);
  color: var(--white);
}

.career-link:hover {
  background-color: var(--white);
  color: var(--blue);
}

.jobs {
  padding: 0.6rem 1.945rem;
}

.internships {
  padding: 0.6rem 3.4rem;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .special-margin {
    margin-top: 1.8rem !important;
  }
}
