//////DIRECT-QUOTE SECTION


#direct-quote {
    min-height: 50vh;
    background-color: var(--blue);
}

.direct-quote-transcription--line {
  margin-bottom: 0;
  font: normal normal normal 38px/47px Atkinson Hyperlegible;
  letter-spacing: 0px;
}

.person-info-name {
  font: normal normal bold 21px/26px Atkinson Hyperlegible;
  letter-spacing: 0px;
  color: var(--light-yellow);
}

.person-info-position {
    font: normal normal normal 21px/26px Atkinson Hyperlegible;
    letter-spacing: 0px;
    color: var(--light-yellow);
}
