///CASES

#cases {
  min-height: 95vh;
  background-color: var(--white);
}

// @media (max-width: 768px) {
//   #cases {
//     min-height: 135vh;
//   }
// }

#cases-carousel {
  min-height: 100vh;
  background-color: var(--white);
}

#cases-partners {
  min-height: 140vh;
  background-color: var(--white);
}

@media (min-width: 1200px) {
  .case-container {
    max-width: 1180px;
  }
}

@media (max-width: 1199px) {
  .case-container {
    max-width: 1000px;
  }
}

@media (max-width: 1011px) {
  .case-container {
    max-width: 990px;
  }
}

@media (max-width: 1000px) {
  .case-container {
    max-width: 985px;
  }
}

@media (max-width: 992px) {
  .case-container {
    max-width: 920px;
  }
}

.cases-title {
  color: var(--blue);
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  font-family: 'Sprint Sans', sans-serif;
  font-size: 21px;
  line-height: 30px;
  letter-spacing: 2.13px;
  opacity: 1;
}

.carousel .carousel-item {
  overflow: hidden;
}

.carousel-item {
  transition: -webkit-transform 0.6s ease;
  transition: transform 0.6s ease;
  transition: transform 0.6s ease, -webkit-transform 0.6s ease;
}

.case-card-carousel {
  // min-width: 680px;
  min-width: 560px;
}

.case-card-carousel-1 {
  max-width: 20vw;
}

.item-1 {
  margin-right: 0.5rem;
}

.item-2 {
  margin-left: 0.5rem;
}

.carousel .thumb-wrapper {
  margin: 5px;
  text-align: left;
  background: #fff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.carousel .thumb-content {
  padding: 15px;
  font-size: 13px;
}

.prev-custom,
.next-custom {
  opacity: 1;
}

.inactive-control {
  opacity: 0.2 !important;
  pointer-events: none !important;
}

.carousel-control-prev,
.carousel-control-next {
  height: 44px;
  width: 44px;
  background: none;
  margin: auto 0;
}

.carousel-control-prev:focus {
  color: #06285b;
}

.carousel-control-next:focus {
  color: #06285b;
}

.carousel-control-prev-svg path,
.carousel-control-next-svg path {
  fill: #06285b;
  opacity: 1;
  stroke: #06285b;
  stroke-width: 0.2rem;
}

.carousel-control-next {
  margin-right: -8rem;
}

.carousel-control-prev {
  margin-left: -8rem;
}


.carousel-indicators {
  display: none;
	bottom: -60px;
}

.carousel-indicators li, .carousel-indicators li.active {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin: 4px;
	border: none;
}
.carousel-indicators li {	
	background: #ababab;
}
.carousel-indicators li.active {	
	background: #555;
}


// @media (max-width: 2000px) {
//   .carousel-control-next {
//     // margin-right: -16rem;
//   }

//   .carousel-control-prev {
//     // margin-left: -16rem;
//   }

//   .case-card-carousel {
//     min-width: 560px;
//   }
// }

// @media (max-width: 1850px) {
//   .carousel-control-next {
//     // margin-right: -10rem;
//   }

//   .carousel-control-prev {
//     // margin-left: -10rem;
//   }
// }

// @media (max-width: 1800px) {
//   .carousel-control-next {
//     // margin-right: -12rem;
//   }

//   .carousel-control-prev {
//     // margin-left: -12rem;
//   }
// }

// @media (max-width: 1750px) {
//   .carousel-control-next {
//     // margin-right: 3rem;
//   }

//   .carousel-control-prev {
//     // margin-left: 3rem;
//   }
// }

// @media (max-width: 1750px) {
//   .carousel-control-next {
//     // margin-right: 2rem;
//   }

//   .carousel-control-prev {
//     // margin-left: 2rem;
//   }
// }

@media (max-width: 1550px) {
  .case-card-carousel {
    // min-width: 450px;
    min-width: 570px;
  }
}

@media (max-width: 1480px) {
  .case-card-carousel {
    min-width: 540px;
  }
}

@media (max-width: 1410px) {
  .carousel-control-next {
    margin-right: -5rem;
  }

  .carousel-control-prev {
    margin-left: -5rem;
  }
}

@media (max-width: 1360px) {
  .case-card-carousel {
    min-width: 520px;
  }
}

@media (max-width: 1250px) {
  .case-card-carousel {
    min-width: 500px;
  }
  .carousel-control-next {
    margin-right: -4rem;
  }

  .carousel-control-prev {
    margin-left: -4rem;
  }
}

@media (max-width: 1200px) {
  .case-card-carousel {
    min-width: 420px;
  }
}

@media (max-width: 1025px) {
  .carousel-control-next {
    margin-right: -3rem;
  }

  .carousel-control-prev {
    margin-left: -3rem;
  }
}

@media (max-width: 1000px) {
  .case-card-carousel {
    min-width: 400px;
  }
}

@media (max-width: 992px) {
  .item-1 {
    margin-right: 0;
  }

  .item-2 {
    margin-left: 0;
  }
}

@media (max-width: 960px) {
  .case-card-carousel {
    min-width: 380px;
  }

  .carousel-control-next {
    margin-right: -4rem;
  }

  .carousel-control-prev {
    margin-left: -4rem;
  }
}

@media (max-width: 943px) {
  .carousel-control-next {
    margin-right: -3rem;
  }

  .carousel-control-prev {
    margin-left: -3rem;
  }
}


@media (max-width: 902px) {
  .case-card-carousel {
    min-width: 360px;
  }
}



@media (max-width: 860px) {
  .case-card-carousel {
    min-width: 340px;
  }
}


@media (max-width: 805px) {
  .case-card-carousel {
    min-width: 320px;
  }

}

@media (max-width: 768px) {
  .carousel-control-next svg path {
  fill: transparent;
  stroke: transparent;
  }

  .carousel-control-prev svg path {
    fill: transparent;
    stroke: transparent;
 
  }

  .carousel-control-next {
    pointer-events: none;
  }

  .carousel-control-prev {
    pointer-events: none;
  }

}

// .carousel-control-prev i, .carousel-control-next i {
// 	font-size: 36px;
// 	position: absolute;
// 	top: 50%;
// 	display: inline-block;
// 	margin: -19px 0 0 0;
// 	z-index: 5;
// 	left: 0;
// 	right: 0;
// 	color: rgba(0, 0, 0, 0.8);
// 	text-shadow: none;
// 	font-weight: bold;
// }

// .carousel-control-prev i {
// 	margin-left: -3px;
// }
// .carousel-control-next i {
// 	margin-right: -3px;
// }
// .carousel-indicators {
// 	bottom: -50px;
// }

.carousel-indicators li,
.carousel-indicators li.active {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 4px;
  border: none;
}
.carousel-indicators li {
  background: #ababab;
}
.carousel-indicators li.active {
  background: #555;
}

////INFO-QUOTE

.info-quote-header h1 {
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  font-family: 'Sprint Sans', sans-serif;
  font-size: 21px;
  line-height: 30px;
  letter-spacing: 2.13px;
  text-transform: uppercase;
  opacity: 1;
  color: var(--light-yellow);
  // padding-left: 4rem !important;
  // padding-right: 4rem !important;
}

.info-quote-header-2 h1 {
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  font-family: 'Sprint Sans', sans-serif;
  font-size: 21px;
  line-height: 30px;
  letter-spacing: 2.13px;
  text-transform: uppercase;
  opacity: 1;
  color: var(--light-yellow);
}

.info-quote__line {
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  font-size: 38px;
  line-height: 45px;
  font-family: Atkinson Hyperlegible, sans-serif;
  letter-spacing: 0px;
  color: var(--dark);
  opacity: 1;
  margin-bottom: 0;
  // padding-left: 4rem !important;
  // padding-right: 4rem !important;
}

.info-quote__line-2 {
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  font-size: 38px;
  line-height: 45px;
  font-family: Atkinson Hyperlegible, sans-serif;
  letter-spacing: 0px;
  color: var(--dark);
  opacity: 1;
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .info-quote__line-2 {
    font-size: 28px !important;
    line-height: 35px !important;
  }

  .info-quote-header-2 h1 {
    margin-left: 0 !important;
  }
}

.info-quote-small__line {
  text-align: left;
  font: normal normal normal 21px/26px Atkinson Hyperlegible;
  letter-spacing: 0px;
  color: var(--grey);
  opacity: 1;
  margin-bottom: 0;
}

@media (min-width: 1760px) {
  .info-quote__line {
    padding-left: 4rem !important;
    padding-right: 4rem !important;
  }

  .info-quote-header h1 {
    padding-left: 4rem !important;
    padding-right: 4rem !important;
  }

  .info-quote__line-2 {
    padding-left: 4rem !important;
    padding-right: 4rem !important;
  }

  .info-quote-header-2 h1 {
    padding-left: 4rem !important;
    padding-right: 4rem !important;
  }
}

@media (max-width: 1469px) {
  .info-quote__line {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
  }

  .info-quote-header h1 {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
  }

  .info-quote__line-2 {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
  }

  .info-quote-header-2 h1 {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
  }
}

@media (max-width: 1406px) {
  // #info-single-1 {
  //   min-height: 85vh;
  // }

  .info-quote__line {
    padding-left: 0rem !important;
    padding-right: 0rem !important;
  }

  .info-quote-header h1 {
    padding-left: 0rem !important;
    padding-right: 0rem !important;
  }

  .info-quote__line-2 {
    padding-left: 0rem !important;
    padding-right: 0rem !important;
  }

  .info-quote-header-2 h1 {
    padding-left: 0rem !important;
    padding-right: 0rem !important;
  }
}

@media (max-width: 1355px) {
  .info-quote__line {
    margin-left: 2rem !important;
    margin-right: 2rem !important;
  }

  .info-quote-header h1 {
    margin-left: 2rem !important;
    margin-right: 2rem !important;
  }

  .info-quote__line-2 {
    margin-left: 2rem !important;
    margin-right: 2rem !important;
  }

  .info-quote-header-2 h1 {
    margin-left: 2rem !important;
    margin-right: 2rem !important;
  }
}

@media (max-width: 1675px) {
  .motive-image-2 img {
    min-width: 28rem;
  }
}

@media (max-width: 1575px) {
  .motive-image-2 img {
    margin-bottom: 2rem;
  }
}

@media (min-width: 1200px) and (max-width: 1420px) {
  .business-column {
    margin-left: 2rem;
  }
}

@media (min-width: 1214.7px) and (max-width: 1276px) {
  .motive-image-2 img {
    margin-bottom: 4.2rem;
  }
}

@media (min-width: 1200px) and (max-width: 1214.7px) {
  .motive-image-2 img {
    margin-bottom: 6rem;
  }
}

@media (min-width: 1049px) and (max-width: 1199px) {
  .motive-image-2 img {
    margin-bottom: -1rem;
  }
}

@media (min-width: 1020px) and (max-width: 1065px) {
  .motive-image-2 img {
    margin-bottom: 2rem;
  }
}

@media (min-width: 769px) and (max-width: 1019px) {
  .info-quote__line {
    font-size: 28px;
    line-height: 35px;
  }

  .info-quote__line-2 {
    font-size: 28px;
    line-height: 35px;
  }

  .motive-image-2 img {
    margin-bottom: 0;
    margin-top: 4rem;
    min-width: 22rem;
  }
}

@media (max-width: 779px) {
  .info-quote-header h1 {
    margin-left: 3rem !important;
  }

  .info-quote__line {
    margin-left: 3rem !important;
  }

  .info-quote-header-2 h1 {
    margin-left: 3rem !important;
  }

  .info-quote__line-2 {
    margin-left: 3rem !important;
  }
}

@media (max-width: 768px) {
  .info-quote-header h1 {
    margin-left: 2.5rem !important;
    margin-right: 0rem !important;
  }

  .info-quote__line {
    margin-left: 4.5rem !important;
    margin-right: 0rem !important;
  }

  .info-quote__line {
    font-size: 28px;
    line-height: 35px;
  }

  .motive-image-2 img {
    min-width: 25rem;
  }

  .business-column {
    padding-left: 0;
  }

  .special-header-margin {
    margin-left: 2rem;
  }

  .carousel-indicators {
    display: flex;
  }
}

@media (max-width: 749px) {
  .info-quote__line {
    margin-left: 4.2rem !important;
  }

  .special-header-margin {
    margin-left: 1.8rem;
  }
}

@media (max-width: 730px) {
  .info-quote__line {
    margin-left: 4rem !important;
  }

  .special-header-margin {
    margin-left: 1.6rem;
  }
}

@media (max-width: 710px) {
  .info-quote__line {
    margin-left: 3.8rem !important;
  }

  .special-header-margin {
    margin-left: 1.5rem;
  }
}

@media (max-width: 700px) {
  .info-quote__line {
    margin-left: 3.4rem !important;
  }
}

@media (max-width: 698px) {
  .special-header-margin {
    margin-left: 1.2rem;
  }
}

@media (max-width: 690px) {
  .info-quote__line {
    margin-left: 3.1rem !important;
  }
}

@media (max-width: 681px) {
  .special-header-margin {
    margin-left: 1rem;
  }
}

@media (max-width: 672px) {
  .special-header-margin {
    margin-left: 0.7rem;
  }
}

@media (max-width: 675px) {
  .info-quote__line {
    margin-left: 2.9rem !important;
  }
}

@media (max-width: 667px) {
  .info-quote__line {
    margin-left: 2.5rem !important;
  }
}

@media (max-width: 664px) {
  .special-header-margin {
    margin-left: 0.8rem;
  }
}

@media (max-width: 660px) {
  .special-header-margin {
    margin-left: 0.4rem;
  }
}
