///CASES

#cases {
  min-height: 100vh;
  background-color: var(--white);
}

#cases-carousel {
  min-height: 70vh;
  background-color: var(--white);
}

#cases-partners {
  min-height: 175vh;
  background-color: var(--white);
}

.case-items {
}

.case-card {
  max-width: 30vw;
}

.cases-title {
    color: var(--blue);
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    font-family: 'Sprint Sans', sans-serif;
    font-size: 21px;
    line-height: 30px;
    letter-spacing: 2.13px;
    opacity: 1;
}


.card-item {


}

.case-card-carousel {
    max-width: 30vw;
}

.cases-carousel {
    background-color: var(--white);
    width: 30vh;
    min-width: 200px;
}

