#comments {
  height: 400vh;
  background-color: var(--white);
}

//INFO SECTION

.grey {
  color: var(--grey);
}

//PRIZES

#prizes {
  height: 70.5vh;
  background-color: var(--blue);
  // background-color: red;
}

.prize-section-header {
  color: var(--light-yellow);
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  font-family: 'Sprint Sans', sans-serif;
  font-size: 21px;
  line-height: 30px;
  letter-spacing: 2.13px;
  opacity: 1;
}

.multi-carousel {
  float: left;
  overflow: hidden;
  // padding: 15px;
  // background-color: green;
  background-color: var(--blue);
  width: 100%;
  position: relative;
}
.multi-carousel .multi-carousel-inner {
  transition: 0.5s all;
  float: left;
}
.multi-carousel .multi-carousel-inner .item {
  float: left;
}
.multi-carousel .multi-carousel-inner .item > div {
  text-align: center;
  // padding: 15px;
  // margin: 120px;
  // margin: 0 120px 0 120px;
  // margin-right: 120px;
  // background: #f1f1f1;
  background-color: var(--blue);
  color: #666;
}
.multi-carousel .leftLst,
.multi-carousel .rightLst {
  position: absolute;
  border-radius: 50%;
  // top: calc(50% - 20px);
  top: calc(50% - 110px);
}
.multi-carousel .leftLst {
  left: -0.35rem;
}
.multi-carousel .rightLst {
  right: -0.35rem;
}

.multi-carousel .leftLst.over,
.multi-carousel .rightLst.over {
  pointer-events: none;
  // background: #ccc;
}

.item {
  margin: 0rem;
}

.carousel-container {
  padding-right: 30px;
  padding-left: 30px;
}

.rightLst,
.leftLst {
  background-color: transparent;
  border: none;
}

.rightLst.over,
.leftLst.over {
  opacity: 0.2;
}

.prize-example {
  background: linear-gradient(
      to top left,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0) calc(50% - 0.8px),
      rgba(255, 255, 255, 1) 50%,
      rgba(255, 255, 255, 0) calc(50% + 0.8px),
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to top right,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0) calc(50% - 0.8px),
      rgba(255, 255, 255, 1) 50%,
      rgba(255, 255, 255, 0) calc(50% + 0.8px),
      rgba(255, 255, 255, 0) 100%
    );
  resize: none;
  pointer-events: none;
  min-height: 10.75rem;
  min-width: 8rem;
  pointer-events: none;
  border: 1.5px solid var(--white);
}

.prize-title {
  text-align: center;
  font: normal normal normal 38px/47px Atkinson Hyperlegible;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

.prize-name {
  text-align: center;
  font: normal normal normal 28px/35px Atkinson Hyperlegible;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 0.5;
}

.prize-year {
  text-align: center;
  font: normal normal normal 21px/26px Atkinson Hyperlegible;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 0.5;
}

///TEAM-INSIGHTS

#team-insights {
  background-color: var(--white);
  min-height: 140vh;
}

.insight-link {
  background-color: var(--white);
  border: 2px solid var(--blue);
  color: var(--blue);
  padding: 0.8rem 2.6rem;
}

.insight-link:hover {
  background-color: var(--blue);
  color: var(--white);
}

.card {
  min-width: 24vw;
  min-height: 45vh;
  background-color: var(--white-1);
  border: none;
  border-bottom: 15px solid var(--blue);
  border-radius: 0;
}

.card-img,
.card-img-top {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}



.insight-items {
  margin-bottom: 7rem;
}

.insight-title {
  font: normal normal bold 21.33px/26px Atkinson Hyperlegible;
  letter-spacing: 0px;
  color: var(--dark);
  opacity: 1;
}

.insight-redirect-btn {
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  font-family: 'Sprint Sans', sans-serif;
  font-size: 21px;
  line-height: 30px;
  letter-spacing: 2.13px;
  opacity: 1;
  color: var(--blue);
}
.insight-redirect-btn:hover {
  color: var(--blue);
  text-decoration: none;
}

.insight-text {
  color: var(--light-grey);
  font: normal normal normal 21px/26px Atkinson Hyperlegible;
  letter-spacing: 0px;
}
