//GENERAL

.grey-text {
  color: var(--grey) !important;
}



@media(max-width: 992px) {

  .long-message p {
    font-size: 28px !important;
    line-height: 35px !important;
  }
}

//COMMENTS

#comments {
  min-height: 240vh;
  background-color: var(--white);
}


@media(max-width: 1800px) {
  #comments {
    min-height: 270vh;
  }
}

@media(max-width: 1480px) {
  #comments {
    min-height: 280vh;
  }
}


@media(max-width: 1460px) {
  #comments {
    min-height: 290vh;
  }
}


@media(max-width: 1460px) {
  #comments {
    min-height: 300vh;
  }
}

@media (max-width: 992px) {

  #comments {
    height: 350vh;
  }
}


.card-comment {
  max-width: 18vw;
  min-height: 40vh;
}

.motive-header {
  text-align: left;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  font-family: 'Sprint Sans', sans-serif;
  font-size: 21px;
  line-height: 30px;
  letter-spacing: 2.13px;
  text-transform: uppercase;
  opacity: 1;
}

.motive-quote__line {
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  font-size: 38px;
  line-height: 45px;
  font-family: Atkinson Hyperlegible, sans-serif;
  letter-spacing: 0px;
  color: var(--dark);
  opacity: 1;
  margin-bottom: 0;
}

.motive-quote-small__line {
  text-align: left;
  font: normal normal normal 21px/26px Atkinson Hyperlegible;
  letter-spacing: 0px;
  color: var(--grey);
  opacity: 1;
  margin-bottom: 0;
}





@media(max-width: 1770px) {

  .motive-header {
    font-size: 18px;
    line-height: 26px;
  }


  .motive-quote__line {
    font-size: 28px;
    line-height: 35px;
  }

  .motive-quote-small__line {
    font-size: 18px;
    line-height: 24px;
  }
}





.comment-image {
  max-width: 10rem;
  margin-bottom: 32rem;
}

@media (max-width: 1680px) {
  .comment-image {
    margin-bottom: 31rem;
  }
}

@media (max-width: 1600px) {
  .comment-image {
    margin-bottom: 31.5rem;
  }
}

@media (max-width: 1550px) {
  .comment-image {
    margin-bottom: 34.2rem;
  }
}

@media (max-width: 1480px) {
  .comment-image {
    margin-bottom: 33.8rem;
  }
}

@media (max-width: 1460px) {
  .comment-image {
    margin-bottom: 35.8rem;
  }
}

@media (max-width: 1370px) {
  .comment-image {
    margin-bottom: 35.8rem;
    margin-left: -0.5rem;
  }
}

@media (max-width: 1355px) {
  .comment-image {
    margin-bottom: 37.8rem;
  }
}


@media (max-width: 1302px) {
  .comment-image {
    margin-bottom: 40rem;
  }
}

@media (max-width: 1260px) {
  .comment-image {
    max-width: 9rem;
    margin-bottom: 41.5rem;
  }
}

@media (max-width: 1230px) {
  .comment-image {
    margin-bottom: 43.5rem;
  }
}

@media (max-width: 1220px) {
  .comment-image {
    margin-bottom: 45rem;
  }
}


@media(width: 1200px) {
  
}

@media (max-width: 1199.98px) {
  .card-comment {
    max-width: 22vw;
  }
  
  .comment-image {
    margin-bottom: 30.8rem;
    max-width: 12rem;
    margin-left: 0.8rem;
  }
}


@media (max-width: 1160px) {
  
  .comment-image {
    margin-bottom: 33.8rem;
    max-width: 11rem;
    margin-left: 0.6rem;
  }
}

@media (max-width: 1120px) {
  .card-comment {
    max-width: 25vw;
  }
  .comment-image {

    margin-left: 0.2rem;
  }
}

@media (max-width: 1085px) {

  .comment-image {
    margin-left: 0rem;
    margin-bottom: 34.8rem;
  }
}

@media (max-width: 1050px) {

  .comment-image {
    max-width: 9rem;
  }
}

@media (max-width: 1015px) {

  .comment-image {

    margin-bottom: 36.8rem;

  }
}


@media (max-width: 992px) {

  .card-comment {
    max-width: 50vw;
  }


  .comment-image {

    margin-bottom: 27.5rem;
    max-width: 7rem;

  }
}

.person-name {
  font-weight: bold;
  font-style: normal;
  font-variant: normal;
  font-family: Atkinson Hyperlegible;
  font-size: 16px;
  letter-spacing: 20px;
  letter-spacing: 0px;
  color: var(--blue);
  opacity: 1;
}

.person-name__line,
.person-position__line {
  margin-bottom: 0;
  letter-spacing: 0px;
}

.person-position__line {
  color: var(--grey);
}

#line-1::after {
  content: '\a';
  white-space: pre;
}

.no-space {
  line-height: 1.25em;
}

//PRIZES

#prizes {
  height: 70.5vh;
  background-color: var(--blue);
}

.prize-section-header {
  color: var(--light-yellow);
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  font-family: 'Sprint Sans', sans-serif;
  font-size: 21px;
  line-height: 30px;
  letter-spacing: 2.13px;
  opacity: 1;
}

.prize-example {
  background: linear-gradient(
      to top left,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0) calc(50% - 0.8px),
      rgba(255, 255, 255, 1) 50%,
      rgba(255, 255, 255, 0) calc(50% + 0.8px),
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      to top right,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0) calc(50% - 0.8px),
      rgba(255, 255, 255, 1) 50%,
      rgba(255, 255, 255, 0) calc(50% + 0.8px),
      rgba(255, 255, 255, 0) 100%
    );
  resize: none;
  pointer-events: none;
  min-height: 10.75rem;
  min-width: 8rem;
  pointer-events: none;
  border: 1.5px solid var(--white);
}

.prize-title {
  text-align: center;
  font: normal normal normal 38px/47px Atkinson Hyperlegible;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

.prize-name {
  text-align: center;
  font: normal normal normal 28px/35px Atkinson Hyperlegible;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 0.5;
}

.prize-year {
  text-align: center;
  font: normal normal normal 21px/26px Atkinson Hyperlegible;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 0.5;
}

//CAROUSEL

.multi-carousel {
  float: left;
  overflow: hidden;
  background-color: var(--blue);
  width: 100%;
  position: relative;
}
.multi-carousel .multi-carousel-inner {
  transition: 0.5s all;
  float: left;
}
.multi-carousel .multi-carousel-inner .item {
  float: left;
}
.multi-carousel .multi-carousel-inner .item > .custom-item {
  text-align: center;
  background-color: var(--blue);
  color: #666;
}
.multi-carousel .leftLst,
.multi-carousel .rightLst {
  position: absolute;
  border-radius: 50%;
  // top: calc(50% - 20px);
  top: calc(50% - 110px);
}
.multi-carousel .leftLst {
  left: -0.35rem;
}
.multi-carousel .rightLst {
  right: -0.35rem;
}

.multi-carousel .leftLst.over,
.multi-carousel .rightLst.over {
  pointer-events: none;
}

.item {
  margin: 0rem;
}

.carousel-container {
  padding-right: 30px;
  padding-left: 30px;
}

.rightLst,
.leftLst {
  background-color: transparent;
  border: none;
}

.rightLst.over,
.leftLst.over {
  opacity: 0.2;
}

///TEAM-INSIGHTS

#team-insights {
  background-color: var(--white);
  min-height: 40vh;
}

.insight-link {
  background-color: var(--white);
  border: 2px solid var(--blue);
  color: var(--blue);
  padding: 0.8rem 2.6rem;
}

.insight-link:hover {
  background-color: var(--blue);
  color: var(--white);
}

.insight-redirect-btn {
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  font-family: 'Sprint Sans', sans-serif;
  font-size: 21px;
  line-height: 30px;
  letter-spacing: 2.13px;
  opacity: 1;
  color: var(--blue);
}

.insight-redirect-btn::after {
  background-color: var(--blue) !important;
  width: 21.4%;
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  bottom: 0;
  left: 0%;
  height: 0.2em;
  background: var(--white);
  opacity: 0;
  transition: opacity 0.3s ease 0s;
}

.insight-link-custom {
  display: block;
  position: relative;
  transition-property: color;
}

.insight-link-custom:after {
  background: none repeat scroll 0 0 transparent;
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  bottom: 0;
  left: 1%;
  width: 97%;
  height: 0.2em;
  background: var(--blue);
  opacity: 0;
  transition: opacity 0.3s ease 0s;
}

.insight-link-custom:hover::after {
  opacity: 1;
  text-decoration: none;
}

.insight-link-custom:hover {
  text-decoration: none;
  color: var(--blue);
}

.insight-link-custom:active::after {
  opacity: 0;
  text-decoration: none;
}

.insight-link-custom:active {
  text-decoration: none;
  color: var(--blue);
  transition-duration: 0.3s;
}

.comment-quote__line {
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: 38px;
  line-height: 47px;
  font-family: Atkinson Hyperlegible, sans-serif;
  letter-spacing: 0px;
  color: var(--dark-1);
  opacity: 1;
  margin-bottom: 0;
}

.comment-overlay {
  top: -10%;
  left: 70%;
}
