////INSIGHT-HIGHLIGHT

#insight-highlight {
  // min-height: 75vh;
  background-color: var(--blue);
}

.highlight-image {
}

@media (max-width: 1550px) {
  .highlight-image {
    margin-right: 7rem !important;
  }
}

@media (max-width: 1350px) {
  .highlight-image {
    margin-right: 9rem !important;
  }
}

@media (max-width: 1350px) {
  .highlight-image {
    margin-right: 11rem !important;
  }

  .insight-highlight-big-title h1 {
    font: normal normal normal 38px/47px Atkinson Hyperlegible !important;
  }

  .insight-highlight__line {
    font-size: 18px !important;
    line-height: 24px !important;
  }
}

@media (max-width: 1250px) {
  .highlight-image {
    margin-right: 12rem !important;
  }
}

@media (max-width: 1125px) {
  .highlight-image {
    margin-right: 14rem !important;
  }
}

@media (max-width: 1050px) {
  .highlight-image {
    margin-right: 9rem !important;
  }
  .highlight-image img {
    max-width: 30rem;
  }
}

@media (max-width: 992px) {
  .highlight-image {
    margin-right: 0rem !important;
  }

  .highlight-image img {
    // max-width: 34rem;
    max-width: 100% !important;
    height: auto;
  }

  .insight-highlight-big-title h1 {
    font: normal normal normal 51px/60px Atkinson Hyperlegible !important;
  }

  .insight-highlight__line {
    font-size: 21px !important;
    line-height: 26px !important;
  }
}

@media (max-width: 768px) {
  .insight-highlight-big-title h1 {
    font: normal normal normal 38px/47px Atkinson Hyperlegible !important;
  }
}

@media (max-width: 670px) {
  .white-bar-1 {
    display: none;
  }

  .white-bar-2 {
    display: none;
  }
}

@media (max-width: 405px) {
  .insight-highlight__line {
    font-size: 18px !important;
    line-height: 24px !important;
  }

  .insight-highlight-big-title h1 {
    font: normal normal normal 28px/35px Atkinson Hyperlegible !important;
  }
}

.insight-highlight-small-header h5 {
  color: var(--light-yellow);
  text-align: left;
  font: normal normal normal 21px/26px Atkinson Hyperlegible;
  letter-spacing: 0px;
}

.insight-highlight-big-title h1 {
  text-align: left;
  font: normal normal normal 51px/60px Atkinson Hyperlegible;
  letter-spacing: 0px;
  opacity: 1;
}

.insight-highlight__line {
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  font-size: 21px;
  line-height: 26px;
  font-family: Atkinson Hyperlegible;
  letter-spacing: 0;
  margin-bottom: 0;
  opacity: 1;
}

.white-bar-1 {
  height: 10px;
  width: 200px;
  background-color: var(--light-yellow);
  bottom: 100%;
  left: -8%;
}

.white-bar-2 {
  height: 200px;
  width: 10px;
  background-color: var(--light-yellow);
  bottom: 12%;
  left: 100%;
}

.insight-highlight-link {
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  color: var(--white);
  font-family: 'Sprint Sans', sans-serif;
  font-size: 21px;
  line-height: 30px;
  letter-spacing: 0px;
  opacity: 1;
  cursor: pointer;
}

.insight-highlight-link:hover {
  color: var(--dark);
  text-decoration: none;
  transition: 0.05s ease-out;
}

.insight-highlight-link::after {
  background: none repeat scroll 0 0 transparent;
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  bottom: 0;
  left: 3%;
  width: 20%;
  height: 0.23em;
  background: var(--dark);
  opacity: 0;
  transition: opacity 0.3s ease-out 0s;
}

.insight-highlight-link:hover::after {
  opacity: 1;
  text-decoration: none;
}

////SHOW-MORE

.show-more {
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  color: var(--light-grey);
  font-family: 'Sprint Sans', sans-serif;
  font-size: 21px;
  line-height: 30px;
  letter-spacing: 0px;
  opacity: 1;
}

////cases-carousel - CUSTOM (case-card-carousel-video)

.case-card-carousel-video {
  min-width: 300px;
  max-width: 350px;
  min-height: 36vh !important;
  max-height: 42vh;
}

.card-img-limiter {
  height: 13rem;
}
